<h1>Now you can add your blogs here</h1>
<br>
<div class="form-container">
  <form action="/add/blog"  method="POST"  enctype="multipart/form-data">
    <div class="form-inline">
      <label for="title">Title : <pre>         </pre></label>
      <input type="text" name="title" id="title" class="form-control" required>
    </div>
    <div class="form-inline">
      <label for="category">Category : <pre>     </pre></label>
      <select name="category" id="category">
        <% for(category of locals.categories) { %>
          <option ><%= category.name %></option>     
        <% } %> 
      </select>
    </div>
    <div class="form-inline">
      <label for="image">Image : <pre>       </pre></label>
      <input  type="file" name="image" id="image" required>
    </div>
    <div class="form-inline">
      <label for="description">Description :<pre>  </pre></label>
      <textarea class="form-control" name="description" id="description" placeholder="Describe your blog" required></textarea>
    </div>
    
    <button type="submit" class="btn btn-outline-success">Add This Blog</button>
  </form>
</div>

<script  src="/ckeditor/ckeditor.js"></script>
<script  type="text/javascript"> CKEDITOR.replace( "description");</script>