body {
  padding : 10px;
  margin : 2px;
}

.form-inline {
  padding : 10px;
  margin : 10px auto;
}

.alert, .alert-danger {
  text-align: center;
}


.form-container {
  width : 700px;
  border : 1px solid #ccc;
  margin : 20px auto ;
  padding : 20px;
  border-top : #83cd39 3px solid;
  background-color: lightcyan;
}


.blog-container {
  width : 1000px;
  border : 1px solid blue;
  margin : 20px auto ; 
  padding : 70px;
  border-top : yellowgreen 2px solid;
  background-color: lightcyan;
}

input[type="text"] {
  padding : 3px;
  width : 50%;
  border : 1px #ccc solid;
}

.reg-login {
  background-image: url('/images/signin.png') ;
  background-repeat: no-repeat;
  background-size: contain;  
  background-position : right;

  width : 500px;
  border : 1px solid #ccc;
  margin : 20px auto ;
  padding : 20px;
  border-top : #83cd39 3px solid;
}
textarea {
  width : 100%;
}
li {
  list-style: none;
}

 